<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xiaoxiao.mapping.userMapper">
	<!--  使用parameterType属性指明查询时使用的参数类型，resultType属性指明查询返回的结果集类型 -->
	<select id="selectUsers" parameterType="int" resultType="com.xiaoxiao.domain.User">
		select * from loginSystem where id = #{id}
	</select>
</mapper>